@page
@using Acme.BookStore.Localization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.TenantManagement
@model Acme.BookStore.Web.Pages.CustomTenantModel
@inject IHtmlLocalizer<BookStoreResource> L
@inject IAuthorizationService Authorization
@{
    ViewBag.Title = L["Tenants"];
}

@section styles {
    <abp-style src="/Pages/CustomTenant.css" />
}

@section scripts {
    <abp-script src="/client-proxies/multi-tenancy-proxy.js" />
    <abp-script src="/Pages/CustomTenant.js" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Tenants"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(TenantManagementPermissions.Tenants.Create))
                {
                    <abp-button id="NewTenantButton" text="New Tenant" icon="plus" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="TenantsTable" class="nowrap" width="100%"></abp-table>
    </abp-card-body>
</abp-card>

<abp-modal id="CreateTenantModal">
    <abp-modal-header title="New Tenant"></abp-modal-header>
    <abp-modal-body>
        <form id="CreateTenantForm">
            <abp-input asp-for="TenantCreateDto.Name" label="Tenant Name" />
            <abp-input asp-for="TenantCreateDto.AdminEmailAddress" label="Admin Email Address" />
            <abp-input asp-for="TenantCreateDto.AdminPassword" type="password" label="Admin Password" />
            <abp-input asp-for="TenantCreateDto.ConnectionString" label="Database Connection String" />
        </form>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
</abp-modal>  

<abp-modal id="EditTenantModal">
    <abp-modal-header title="@L["Edit"]"></abp-modal-header>
    <abp-modal-body>
        <form id="EditTenantForm">
            <abp-input asp-for="TenantUpdateDto.Id" type="hidden" />
            <abp-input asp-for="TenantUpdateDto.Name" label="Tenant Name" />
            <abp-input asp-for="TenantUpdateDto.ConnectionString" label="Database Connection String" />
        </form>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
</abp-modal>
